# Flutter
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/

# Android
android/.gradle/
android/local.properties
android/key.properties
android/keystore/
*.jks
*.keystore

# Windows
Thumbs.db
desktop.ini

# OS
.DS_Store

# APK output
time-logger-apk/
*.apk

# Debug info
debug-info/
keystore_base64.txt

android_backup/
